<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">

	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="controller.js"></script>
</head>
<body ng-app="test" ng-controller="testController">

	<div class="content">
		<header class="controls-holder container">
			<div class="numbers-holder">
				<input type="number" ng-model="data.minNumber" placeholder="Min number">
				<input type="number" ng-model="data.maxNumber" placeholder="Max number">
			</div>
			<div class="buttons-holder">
				<button ng-click="setAll()">Show all numbers</button>
				<button ng-click="setEven()">Show even numbers</button>
				<button ng-click="setOdd()">Show odd numbers</button>
			</div>
		</header>
		<div class="results-space container">
			<div class="buttons-holder">
				<button ng-click="setLeft()">Display on the left</button>
				<button ng-click="setRight()">Display on the right</button>
			</div>
		</div>

		<div class="list">
			<number-list ng-class="data.class" min="data.minNumber" max="data.maxNumber" filter="data.filter">
			</number-list>
		</div>
	</div>
</body>
</html>